{% set separate_area_and_nwr = optional(1) %}
{% if features['area'] and separate_area_and_nwr %}
  in {{ features['area'] }}{{ optional(',', 0.5) }}
{% endif %}

{% if optional('show_give_indicate') %}
  {% set qword = choose(['show', 'give', 'indicate']) %}
  {{ qword }}
  {% if qword == 'indicate' %}
    {{ choose(['for me', 'for us', ''], [0.2, 0.2, 0.6]) }}
  {% else %}
    {{ choose(['me', 'us', ''], [0.3, 0.3, 0.4]) }}
  {% endif %}
{% endif %}

{{ choose(['the location of', 'the locations of', 'the coordinates of', ''], [0.15, 0.1, 0.1, 0.7]) }}
{{ optional('the', 0.5) }}
{% include 'meta/closest_around_query_closest_thing.jinja2' %}

{{ choose(['from', 'to', 'of'], [0.4, 0.4, 0.2]) }}

{% if features['area'] and separate_area_and_nwr %}
  {{ features['center_nwr'][0][1] }}
{% else %}
  {% include 'meta/around_query_bare_location.jinja2' %}
{% endif %}
{{ optional('?') }}
