{% set separate_area_and_nwr = optional(1) %}
{% if features['area'] and separate_area_and_nwr %}
  in {{ features['area'] }}{{ optional(',', 0.5) }}
{% endif %}

{% if optional('give', 0.6) %}
  {{ choose(['show', 'give']) }}
  {{ choose(['me', 'us', ''], [0.3, 0.3, 0.4]) }}
  {{ optional('the', 0.8) }}
  name
  of 
  {{ optional('the', 0.8) }}
{% else %}
  name
  {{ optional('of') }}
  {{ optional('the', 0.8) }}
{% endif %}

{% include 'meta/closest_around_query_closest_thing.jinja2' %}

{{ choose(['from', 'to', 'of'], [0.4, 0.4, 0.2]) }}

{% if features['area'] and separate_area_and_nwr %}
  {{ features['center_nwr'][0][1] }}
{% else %}
  {% include 'meta/around_query_bare_location.jinja2' %}
{% endif %}
{{ choose(['!', '.', ''], [0.25, 0.25, 0.5]) }}
