{% if features['area'] and optional('separate_area_and_nwr') %}
  does
  {{ features['area'] }}
  have
  {% if plural %}
    {{ choose(['any', 'some', ''], [0.5, 0.2, 0.3]) }}
  {% else %}
    {{ choose(['any', 'some', 'a', ''], [0.4, 0.1, 0.3, 0.2]) }}
  {% endif %}
  {{ thing_plural if plural else thing_singular }}
  {% include 'meta/around_query_proximity_prefix.jinja2' %}

  {{ features['center_nwr'][0][1] }}
  {{ optional('?') }}
{% else %}
  does
  {% include 'meta/around_query_bare_location.jinja2' %}

  have
  {% if plural %}
    {{ choose(['any', 'some', ''], [0.5, 0.2, 0.3]) }}
  {% else %}
    {{ choose(['any', 'some', 'a', ''], [0.4, 0.1, 0.3, 0.2]) }}
  {% endif %}
  {{ thing_plural if plural else thing_singular }}
  {% include 'meta/around_query_proximity_standalone.jinja2' %}
  {{ optional('?') }}
{% endif %}
