{% import "macros.jinja2" as M %}
{% if features['area'] %}
{{ M.area(features) }}
{{ M.nwr(features['center_nwr'], result_set='.center') }}
{% else %}
{{ M.nwr(features['center_nwr'], area=none, result_set='.center') }}
{% endif %}
{{ M.nwr(features['target_nwr'], area='around.center:' + features['maxdist']|dist_lookup) }}
.center out geom;
make separator "name" = "separator" -> .sep;
.sep out;
out geom;
