{% if features['area'] %}
  {% include('meta/in_location.jinja2') %}{{ optional(',', 0.5) }}
  {% set qword = choose(['show', 'give', 'what', 'when'], [0.2, 0.3, 0.25, 0.25]) %}
  {{ qword }}
  {% if qword in ['what', 'when'] %}
    are
  {% else %}
    {{ choose(['me', 'us', ''], [0.3, 0.3, 0.4]) }}
  {% endif %}
  {{ optional('the', 0.9) }}
  opening {{ choose(['hours', 'times']) }}
  of
  {{ optional('the') }}
  {{ thing_plural if plural else thing_singular }}
  {% if qword in ['what', 'when'] %}
    {{ optional('?') }}
  {% else %}
    {{ choose(['!', '.', ''], [0.25, 0.25, 0.5]) }}
  {% endif %}
{% else %}
  {% include('named_in_query/opening-hours_give.jinja2') %}
{% endif %}
