where {% include('meta/in_location.jinja2') %}

{{ 'are' if plural else 'is' }}
{{ optional('there') }}
{% if plural %}
  {{ choose(['any', 'some', '']) }}
{% else %}
  {{ choose(['a', 'any', 'some', '']) }}
{% endif %}
{{ thing_plural if plural else thing_singular }}
{{ optional('?') }}
