{% include('meta/in_location.jinja2') %}{{ optional(',', 0.5) }}
when
{{ choose(['can I', 'can we', 'to'], [0.3, 0.3, 0.4]) }}
{{ choose(['visit', 'go to'], [0.6, 0.4]) }}
{% if plural %}
  {{ choose(['the', 'all', 'all the', ''], [0.2, 0.2, 0.2, 0.4]) }}
{% else %}
  {{ choose(['a', 'some', 'any', '']) }}
{% endif %}
{{ thing_plural if plural else thing_singular }}
{{ optional('?') }}
