query({##}
{% if features['cardinal_direction'] %}
{{ features['cardinal_direction'] }}({##}
{% endif %}
{% block query_content %}{% endblock %}
{% if features['cardinal_direction'] %}
){##}
{% endif %}
,qtype({{ open_paren_after_functor(features['qtype'], escape) }}))
